.phone__subtitle {
  font-family: 'Gilroy';
  color: #4f79a4;
  font-size: 50px;
  font-weight: 300;
  max-width: 527px;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .phone__subtitle {
    font-size: 45px;
    margin: 25px auto 0;
  }
}

@media (max-width: 375px) {
  .phone__subtitle {
    font-size: 32px;
    margin: 10px auto 0;
  }
}