.app__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;  
  max-width: 780px;
  padding: 0 0 260px;
  margin: 0 auto;
  width: calc(100% - 5%);
}

@media (max-width: 615px) {
  .app__container {
    padding: 0 0 190px;
  }
}

@media (max-width: 410px) {
  .app__container {
    padding: 0 0 140px;
  }
}