.phone__img {
  -o-object-fit: cover;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  display: block;
  max-width: 772px;
  height: auto;
  margin: 36px auto 0;
}

@media (max-width: 768px) {
  .phone__img {
    margin: 20px auto 0;
  }
}

@media (max-width: 768px) {
  .phone__img {
    max-width: 500px;
  }
}

@media (max-width: 530px) {
  .phone__img {
    max-width: 350px;
  }
}

@media (max-width: 375px) {
  .phone__img {
    max-width: 280px;
  }
}