.footer__social {
  grid-area: social-icon;
  display: flex;
  margin: 0;
  padding: 0;
  max-width: 192px;
}

@media screen and (max-width: 767px) {
  .footer__social {
    grid-column: 1/2;
    margin-left: 150px;
  }
}

@media screen and (max-width: 374px) {
  .footer__social {
    margin-left: 115px;
  }
}
