.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top:6px;
  max-width: 1440px;
  width: calc(100% - 242px);
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .header__block {
    width: calc(100% - 200px);
    padding-top: 0;
  }
}


@media (max-width: 768px) {
  .header__block {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: calc(100% - 100px);
  }
}


@media (max-width: 375px) {
  .header__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}