@import url(./_first/center__container_first.css);
@import url(./_second/center__container_second.css);
.center__container {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }