.app__text {
  margin-top: 100px;
  max-width: 375px;
  margin-left: 20px;
  text-align: start;
}

@media (max-width: 768px) {
  .app__text {
    margin-top: 53px;
}
}

@media (max-width: 335px) {
  .app__text {
    margin-left: 10px;
}
}